@font-face {
  font-family: "iconfont"; /* Project id 2527608 */
  src: url('iconfont.woff2?t=1621521904568') format('woff2'),
       url('iconfont.woff?t=1621521904568') format('woff'),
       url('iconfont.ttf?t=1621521904568') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinbi:before {
  content: "\e6ee";
}

.icon-dianzan:before {
  content: "\e656";
}

.icon-pinglun:before {
  content: "\e601";
}

.icon-dianzan1:before {
  content: "\e605";
}

.icon-pinglun1:before {
  content: "\e602";
}

.icon-webicon205:before {
  content: "\e683";
}

.icon-mima:before {
  content: "\e658";
}

.icon-yanzhengma:before {
  content: "\e699";
}

.icon-ren:before {
  content: "\e63d";
}

.icon-sousuo:before {
  content: "\e61d";
}

